
<div class="fixo">
<mat-card class="boasvindas mat-elevation-z5">

    <mat-card-title class="title">Bem vindo! usuarioLogado.nome</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Aplicativo para controle de finanças. Poderás cadastrar todos os teus gastos e comparar como o orçamento do mês.
    </mat-card-subtitle>

    


    <ul>

        <li *myFor="let n em " > {{ n }}</li>

    </ul>
</mat-card>

</div>

<div class="registros">


<mat-card class="registrosGastos mat-elevation-z10" >

    <mat-card-title class="title">Gasto</mat-card-title>
    <mat-card-subtitle class="subtitle">
       Aqui terá os gastos mais recentes.

     
     
           </mat-card-subtitle>

        

           


    <ul>

        <li *ngFor="let lista of products" ><h1>{{ lista.gasto }}</h1> <h1>{{lista.valor}}</h1> </li>

    </ul>
</mat-card>

   


</div>

  